In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [7]:
data = pd.read_csv('brain_stroke.csv')

In [8]:
data.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [9]:
data.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   object
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   object
 5   work_type          4981 non-null   object
 6   Residence_type     4981 non-null   object
 7   avg_glucose_level  4981 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   object
 10  stroke             4981 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 428.2+ KB

In [15]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [21]:
data = pd.get_dummies(data,columns=['gender','ever_married'])
data = pd.get_dummies(data,columns = ['work_type','Residence_type','smoking_status'])

In [22]:
data.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,36.6,1,0,1,0,1,0,1,0,0,0,1,0,1,0,0
1,80.0,0,1,105.92,32.5,1,0,1,0,1,0,1,0,0,1,0,0,0,1,0
2,49.0,0,0,171.23,34.4,1,1,0,0,1,0,1,0,0,0,1,0,0,0,1
3,79.0,1,0,174.12,24.0,1,1,0,0,1,0,0,1,0,1,0,0,0,1,0
4,81.0,0,0,186.21,29.0,1,0,1,0,1,0,1,0,0,0,1,0,1,0,0

In [23]:
scaler = MinMaxScaler()
data[['avg_glucose_level','bmi']] = scaler.fit_transform(data[['avg_glucose_level','bmi']])

In [24]:
data

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,0.801265,0.647564,1,0,1,0,1,0,1,0,0,0,1,0,1,0,0
1,80.0,0,1,0.234512,0.530086,1,0,1,0,1,0,1,0,0,1,0,0,0,1,0
2,49.0,0,0,0.536008,0.584527,1,1,0,0,1,0,1,0,0,0,1,0,0,0,1
3,79.0,1,0,0.549349,0.286533,1,1,0,0,1,0,0,1,0,1,0,0,0,1,0
4,81.0,0,0,0.605161,0.429799,1,0,1,0,1,0,1,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4976,41.0,0,0,0.069384,0.452722,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0
4977,40.0,0,0,0.627966,0.489971,0,0,1,0,1,0,1,0,0,0,1,0,0,0,1
4978,45.0,1,0,0.184194,0.510029,0,1,0,0,1,1,0,0,0,1,0,0,0,0,1
4979,40.0,0,0,0.133044,0.458453,0,0,1,0,1,0,1,0,0,1,0,0,0,0,1
4980,80.0,1,0,0.132167,0.432665,0,1,0,0,1,0,1,0,0,0,1,0,0,1,0

In [25]:
data['stroke'].value_counts()

0    4733
1     248
Name: stroke, dtype: int64

In [26]:
df1 = df[df.stroke== 0].sample(248)
df = df[df.stroke==1]

In [27]:
df = df.append(df1)

C:\Users\raghu\AppData\Local\Temp\ipykernel_2680\2953445823.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df1)

In [28]:
df['stroke'].value_counts()

1    248
0    248
Name: stroke, dtype: int64

In [29]:
X = data.drop('stroke',axis = 1)
Y = data['stroke']

In [30]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size = 0.3)

In [32]:
from sklearn.linear_model import LogisticRegression
lg = LogisticRegression().fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [33]:
lg.score(X_train,y_train)

0.9509466437177281

In [35]:
lg.score(X_test,y_test)

0.9491638795986622

In [38]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier()
neigh.fit(X_train,y_train)

KNeighborsClassifier()

In [39]:
neigh.score(X_train,y_train)

0.9512335054503729

In [40]:
neigh.score(X_test,y_test)

0.948494983277592

In [41]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
pred = gnb.fit(X_train,y_train)

In [42]:
pred.score(X_train,y_train)

0.4925415949512335

In [43]:
pred.score(X_test,y_test)

0.47759197324414715